.button {
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 6px;
  padding: 14px 20px 14px 20px;
  min-width: 144px;
  height: 56px;
  text-shadow: 0 0 2px rgba(54, 28, 4, 0.95);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  line-height: 1.5;
}
.primary-button {
  background-color: #ed780f;
  border: none;
  &:hover {
    background-color: #D56C0D;
  }
  &:focus {
    background-color: #D56C0D;
    outline: 2px dotted #0667BA;
  }
  &:active {
    background-color: #C7650D;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  &:disabled {
    background-color: #D56C0D;
    opacity: 0.5;
  }
}

.secondary-button {
  color: #0667BA;
  background-color: #F4F5F8;
  border: #D3D3D4;
  text-shadow: none;
  &:hover {
    color: #0667BA;
    background-color: #E8E9EB;
  }
  &:focus {
    color: #0667BA;
    background-color: #E8E9EB;
    outline: 2px dotted #0667BA;
  }
  &:active {
    color: #0667BA;
    background-color: #E4E6EA;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  &:disabled {
    opacity: 0.5;
  }
}
  .tertiary-button {
    color: #ffffff;
    background-color: #0667BA;
    text-shadow: none;
    border: none;
    &:hover {
      color: #FFFFFF;
      background-color: #0559A1;
    }
    &:focus {
      color: #FFFFFF;
      background-color: #0559A1;
      outline: 2px dotted #0667BA;
    }
    &:active {
      color: #FFFFFF;
      background-color: #055192;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    }
    &:disabled {
      opacity: 0.5;
    }
}

.destructive-button {
  color: #ffffff;
  background-color: #D31313;
  text-shadow: none;
  border: none;
  &:hover {
    color: #FFFFFF;
    background-color: #BA1111;
  }
  &:focus {
    color: #FFFFFF;
    background-color: #BA1111;
    outline: 2px dotted #0667BA;
  }
  &:active {
    color: #FFFFFF;
    background-color: #AB0F0F;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }
  &:disabled {
    opacity: 0.5;
  }
}

.xsmall-button {
  font-weight: 800;
  font-size: 0.875rem;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 6px 15px 6px 15px;
  min-width: 64px;
  height: 32px;
}

.small-button {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 6px;
  padding: 11px 15px 11px 15px;
  min-width: 80px;
  height: 44px;
}

.medium-button {
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 6px;
  padding: 14px 20px 14px 20px;
  min-width: 144px;
  height: 56px;
}

.large-button {
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 6px;
  padding: 14px 20px 15px 20px;
  min-width: 144px;
  height: 64px;
}
